/* LoginForm.css */
.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .login-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    margin-right: 40px;
    
  }
  
  input {
    width: 90%;
    padding: 8px;
    margin-bottom: 16px;
    
  }
  
  button {
    background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }

  .btn{
    background-color: #04AA6D;
    margin-right: 40px;
  }
  
  
  .form-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }